.footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

.footer__left {
    flex:0.3;
    color:white;
    display: flex;
    align-items: center;
    max-width: 300px;
}

.footer__albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit:contain;
}

.footer__center {
    flex:0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__right {
    flex:0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}