/* for titles and icons*/
.sidebarOptions{
    display:flex;
    align-items: center;
    color: grey;
    height: 40px;
    /* for the mouse hovering click effect */
    cursor: pointer;
    /* animation hover color change in 200ms */
    transition: 200ms color case-in;
}

.sidebarOptions:hover{
    /* hover color change to white */
    color:white;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.sidebarOptions__icon{
    padding-left: 10px;
    padding-right: 10px;
}

/* Playlist Styling */
.sidebarOptions > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}